@{
    ViewData["Title"] = "Sprawdzenie połączenia z bazą danych";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <h2>@ViewData["Title"]</h2>
      
      <p>@ViewBag.Message</p>
</div>
</body>
</html>